:root {
  --fuenteheading: "PT Sans", sans-serif;
  --fuenteparrafo: "Open Sans", sans-serif;

  --colorprimario: #0000;
  --colorsecundario: #c70039;
  --colorblanco: #ffff;
  --hover: #581845;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: var(--fuenteparrafo);
  font-size: 1.6rem;
  line-height: 2;
}

/* contenedor */
.contenedor {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
h2,
h3,
h4 {
  font-family: var(--fuenteheading);
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
}
img {
  max-width: 100%;
}

/* utilidades */
.no-marging {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.centrar-texto {
  text-align: center;
}

/* heading */
.header {
  background-image: url(../img/banner.jpg);
  height: 60rem;
  background-size: cover;
  background-position: center center;
}
.header__texto {
  color: var(--colorblanco);
  text-align: center;
}
@media (min-width: 768px) {
  .header__texto {
    color: var(--colorblanco);
    text-align: center;
    margin-top: 10rem;
  }
}
.logo_2 {
  text-align: center;
}
@media (min-width: 768px) {
  .header__navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10rem;
    padding-right: 2rem;
  }
}
.logo {
  color: var(--colorblanco);
}
.navegacion__titulo {
  font-size: 4rem;
  font-weight: 400;
}
.span {
  font-weight: 700;
}
.navegacion__enlaces {
  color: var(--colorblanco);
}
.navegacion__enlaces {
  display: block;
  text-align: center;
  font-size: 2.5rem;
  margin: 1rem;
  padding: 0.5rem;
}
@media (min-width: 768px) {
  .nav {
    display: flex;
  }
  .navegacion__enlaces:hover {
    background-color: var(--hover);
  }
}
.navegacion__enlaces:hover {
  background-color: var(--hover);
}
/* Contenedor */
@media (min-width: 768px) {
  .contenedor {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
  }
}
.blog__article {
  border-bottom: 1rem solid var(--hover);
  margin-bottom: 2rem;
}
.blog__article:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}
.boton {
  display: block;
  width: 45%;
  text-align: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: var(--hover);
  color: #ffff;
  font-size: 1.5rem;
  font-weight: 700;
}
@media (min-width: 800px) {
  .boton {
    display: inline-block;
    width: 18%;
  }
}
.boton__aside {
  width: 37%;
}

/* aside */
.cursos {
  list-style: none;
}
.widget-cursos {
  border-bottom: 1rem solid var(--hover);
}
.ultimo {
  border-bottom: none;
}
.widget__texto {
  font-weight: 700;
  font-size: 1.5rem;
}
.widget__texto span {
  font-weight: 400;
}

/* Footer */
.footer {
  background-color: var(--hover);
}
.navegacion__enlaces:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .footer {
    height: 10rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
}

/* Nosotros */
.contenedor__padding {
  padding-bottom: 2rem;
}

/* Cursos */
.centro {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}
.section {
  border-bottom: 1rem solid var(--hover);
  margin-bottom: 1.5rem;
}
.section:last-of-type {
  border-bottom: none;
}
@media (min-width: 768px) {
  .section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
}

/* Entrada */
.main {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

/* ocntacto */
.body__modi {
  background-image: url(../img/contacto.jpg);
  height: 40rem;
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}
.form {
  max-width: 120rem;
  width: 80%;
  margin: 0 auto;
  background-color: #ffff;
  margin: -5rem auto 0 auto;
  padding: 2rem;
  text-align: left;
}
.campo {
  margin-bottom: 2rem;
}
.campo__field {
  border: 2px solid var(--hover);
  padding: 0.7rem;
}
.texarea {
  width: 20rem;
  height: 15rem;
}
.boton__submit {
  width: 50%;
  text-align: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: var(--hover);
  color: #ffff;
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  padding: 1rem;
}
@media (min-width: 768px) {
  .form {
    max-width: 120rem;
    width: 60%;
    margin: 0 auto;
    background-color: #ffff;
    margin: -5rem auto 0 auto;
    padding: 2rem;
    text-align: right;
  }
  .campo__label {
    text-align: left;
  }
  .campo {
    display: flex;
    margin-bottom: 2rem;
  }
  .campo__label {
    flex: 0 0 9rem;
  }
  .campo__field {
    flex: 1;
    border: 2px solid var(--hover);
  }
  .boton__submit {
    width: 13%;
    padding: 1rem;
  }
}
